
@{
    ViewData["Title"] = "Feed";
}

<main id="feedMain">
    <div class="box">
        <div class="topText">
            <h3>Your Feed</h3>
            <a href=""><p>See all</p></a>
        </div>
        <div class="posts">
            <!--Single Post Start-->
            <div class="singlePost">
                <div class="top">
                    <img class="pfp" src="~/assets/images/pfp/default.jpg" alt="" />
                    <div class="artistName">Wheezy</div>
                    <div class="releaseDate">• - 12,october 2023</div>
                </div>
                <div class="bottom">
                    <img class="cover"
                         src="~/assets/images/covers/drake.png"
                         alt="" />
                    <div class="right">
                        <div class="title">
                            <img name="Never Stop (Drake Type Beat 2023)"
                                 artist="Wheezy"
                                 track="./assets/audio/tracks/Future - WAIT FOR U (Instrumental) ft. Drake, Tems.mp3"
                                 cover="./assets/images/covers/drake.png"
                                 class="trackBtn"
                                 src="~/assets/images/icons/play.svg"
                                 alt="" />
                            <img class="pause"
                                 src="~/assets/images/icons/pause.svg"
                                 alt="" />
                            <h3 class="theTitle">NEVER STOP</h3>
                        </div>
                        <div class="about">❗️30$ UNLIMITED, EXPIRING SOON!</div>
                        <button class="addToBasket">
                            <img class="btnImg"
                                 src="~/assets/images/icons/shopping-cart.svg"
                                 alt="" />
                            $30.99
                        </button>
                    </div>
                </div>
            </div>
            <!--Single Post End-->
            <!--Single Post Start-->
            <div class="singlePost">
                <div class="top">
                    <img class="pfp" src="~/assets/images/pfp/default.jpg" alt="" />
                    <div class="artistName">Metro Boomin</div>
                    <div class="releaseDate">• - 12,october 2023</div>
                </div>
                <div class="bottom">
                    <img class="cover" src="~/assets/images/covers/21.jpg" alt="" />
                    <div class="right">
                        <div class="title">
                            <img name="No Heart Instrumental (21 Type Beat 2023)"
                                 artist="Metro Boomin"
                                 track="./assets/audio/trendingInstrumentals/21 Savage - No Heart Instrumental.mp3"
                                 cover="./assets/images/covers/21.jpg"
                                 class="trackBtn"
                                 src="~/assets/images/icons/play.svg"
                                 alt="" />
                            <img class="pause"
                                 src="~/assets/images/icons/pause.svg"
                                 alt="" />
                            <h3 class="theTitle">
                                No Heart Instrumental (21 Type Beat 2023)
                            </h3>
                        </div>
                        <div class="about">❗️30$ UNLIMITED, EXPIRING SOON!</div>
                        <button class="addToBasket">
                            <img class="btnImg"
                                 src="~/assets/images/icons/shopping-cart.svg"
                                 alt="" />
                            $30.99
                        </button>
                    </div>
                </div>
            </div>
            <!--Single Post End-->
            <!--Single Post Start-->
            <div class="singlePost">
                <div class="top">
                    <img class="pfp" src="~/assets/images/pfp/default.jpg" alt="" />
                    <div class="artistName">Wheezy</div>
                    <div class="releaseDate">• - 12,october 2023</div>
                </div>
                <div class="bottom">
                    <img class="cover"
                         src="~/assets/images/covers/drake.png"
                         alt="" />
                    <div class="right">
                        <div class="title">
                            <img name="Never Stop (Drake Type Beat 2023)"
                                 artist="Wheezy"
                                 track="./assets/audio/tracks/Future - WAIT FOR U (Instrumental) ft. Drake, Tems.mp3"
                                 cover="./assets/images/covers/drake.png"
                                 class="trackBtn"
                                 src="~/assets/images/icons/play.svg"
                                 alt="" />
                            <img class="pause"
                                 src="~/assets/images/icons/pause.svg"
                                 alt="" />
                            <h3 class="theTitle">NEVER STOP</h3>
                        </div>
                        <div class="about">❗️30$ UNLIMITED, EXPIRING SOON!</div>
                        <button class="addToBasket">
                            <img class="btnImg"
                                 src="~/assets/images/icons/shopping-cart.svg"
                                 alt="" />
                            $30.99
                        </button>
                    </div>
                </div>
            </div>
            <!--Single Post End-->
            <!--Single Post Start-->
            <div class="singlePost">
                <div class="top">
                    <img class="pfp" src="~/assets/images/pfp/default.jpg" alt="" />
                    <div class="artistName">Metro Boomin</div>
                    <div class="releaseDate">• - 12,october 2023</div>
                </div>
                <div class="bottom">
                    <img class="cover" src="~/assets/images/covers/21.jpg" alt="" />
                    <div class="right">
                        <div class="title">
                            <img name="No Heart Instrumental (21 Type Beat 2023)"
                                 artist="Metro Boomin"
                                 track="./assets/audio/trendingInstrumentals/21 Savage - No Heart Instrumental.mp3"
                                 cover="./assets/images/covers/21.jpg"
                                 class="trackBtn"
                                 src="~/assets/images/icons/play.svg"
                                 alt="" />
                            <img class="pause"
                                 src="~/assets/images/icons/pause.svg"
                                 alt="" />
                            <h3 class="theTitle">
                                No Heart Instrumental (21 Type Beat 2023)
                            </h3>
                        </div>
                        <div class="about">❗️30$ UNLIMITED, EXPIRING SOON!</div>
                        <button class="addToBasket">
                            <img class="btnImg"
                                 src="~/assets/images/icons/shopping-cart.svg"
                                 alt="" />
                            $30.99
                        </button>
                    </div>
                </div>
            </div>
            <!--Single Post End-->
        </div>
    </div>

    <!--Player Start-->
    <div id="aplayer"></div>
    <!--Player End-->
</main>

<!---->
<script src="~/assets/javascript/feed.js" asp-append-version="true"></script>

