@model Slider
@{
    ViewData["Title"] = "Create Slide";
}

<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create new slide</h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <form method="post" enctype="multipart/form-data" class="forms-sample">
                    <div class="form-group">
                        <label asp-for="Text" for="Text">Text</label>
                        <input asp-for="Text" class="form-control" placeholder="Some Text">
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BtnText" for="BtnText">Button Text</label>
                        <input asp-for="BtnText" class="form-control" placeholder="Button">
                        <span asp-validation-for="BtnText" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Link" for="Link">Link</label>
                        <input asp-for="Link" class="form-control" placeholder="Controller/Action">
                        <span asp-validation-for="Link" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex flex-column">
                        <label class="form-label" asp-for="ImageFile">Image upload</label>
                        <input class="form-control file-upload-info" accept=".png, .jpg, .jpeg" asp-for="ImageFile">
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                    <button class="btn btn-primary mr-2">Create</button>
                    <a asp-area="Manage" asp-controller="Slider" asp-action="Index" class="btn btn-dark">Go back</a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->