@model ChangePasswordVM
<form method="post" class="passwordChangeForm changeForm" action="ChangePassword">
    @Html.AntiForgeryToken()
    <div class="goBack">
        <img src="~/assets/images/icons/chevron-lefticonImage24px.svg"
             alt="" />
        Go back
    </div>
    <div class="regular currentPassword">
        <label asp-for="CurrentPassword" class="inputLabel">Current Password</label>
        <input asp-for="CurrentPassword" class="inputField"
               placeholder="Type current password" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="regular password">
        <label asp-for="NewPassword" class="inputLabel">New Password</label>
        <input asp-for="NewPassword"
               class="inputField"
               placeholder="Type new password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="regular confirmPassword">
        <label asp-for="ConfirmPassword" class="inputLabel">Confirm Password</label>
        <input asp-for="ConfirmPassword"
               for="confirmPassword"
               placeholder="Confirm password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="confirmPasswordFormBtn formBtn">
        <img src="~/assets/images/icons/save-cute.svg" alt="" />Save
        Changes
    </button>
</form>