@model Mood
@{
    ViewData["Title"] = "Update Mood";
}

<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update mood</h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <form method="post" class="forms-sample">
                    <div class="form-group">
                        <label asp-for="Name" for="Name">Name</label>
                        <input asp-for="Name" class="form-control" id="Name" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <button class="btn btn-primary mr-2">Update</button>
                    <a asp-area="Manage" asp-controller="Mood" asp-action="Index" class="btn btn-dark">Go back</a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->

