
@{
    ViewData["Title"] = "Playlists";
}
<!--Main Start-->
<main id="playlistsMain">
    <div class="box">
        <div class="content">
            <div class="topText">
                <div class="leftName">

                    Playlists
                </div>
                <div class="sort">
                    <img src="~/assets/images/icons/sort-cute.svg" alt="" />
                    <p>Sort by</p>
                </div>
                <div class="sortHolder">
                    <a href="">Popular</a>
                    <a href="">New</a>
                </div>
            </div>
            <form class="regular searchTracks">
                <input class="inputField" type="text" placeholder="Search..." />
                <button type="submit">
                    <img class="" src="~/assets/images/icons/search.svg" alt="" />
                </button>
            </form>
            <div class="theTracks">
                <!--Single Card Start-->
                <div class="myCard">
                    <a class="coverHolder" href="">
                        <img class="cover"
                             src="~/assets/images/playlistCovers/raindrops.jpg"
                             alt="" />
                    </a>
                    <div class="bottomText">
                        <p class="songCount">111 Tracks</p>
                        <a class="titleHolder" href="">
                            <img src="~/assets/images/icons/play-list-5.svg" alt="" />
                            <h6 class="title">Playlist title</h6>
                        </a>

                        <a href="" class="authorHolder">
                            <p class="author">User</p>
                        </a>
                    </div>
                </div>
                <!--Single Card End-->
                <!--Single Card Start-->
                <div class="myCard">
                    <a class="coverHolder" href="">
                        <img class="cover"
                             src="~/assets/images/playlistCovers/raindrops.jpg"
                             alt="" />
                    </a>
                    <div class="bottomText">
                        <p class="songCount">111 Tracks</p>
                        <a class="titleHolder" href="">
                            <img src="~/assets/images/icons/play-list-5.svg" alt="" />
                            <h6 class="title">Playlist title</h6>
                        </a>

                        <a href="" class="authorHolder">
                            <p class="author">User</p>
                        </a>
                    </div>
                </div>
                <!--Single Card End-->
                <!--Single Card Start-->
                <div class="myCard">
                    <a class="coverHolder" href="">
                        <img class="cover"
                             src="~/assets/images/playlistCovers/raindrops.jpg"
                             alt="" />
                    </a>
                    <div class="bottomText">
                        <p class="songCount">111 Tracks</p>
                        <a class="titleHolder" href="">
                            <img src="~/assets/images/icons/play-list-5.svg" alt="" />
                            <h6 class="title">Playlist title</h6>
                        </a>

                        <a href="" class="authorHolder">
                            <p class="author">User</p>
                        </a>
                    </div>
                </div>
                <!--Single Card End-->
                <!--Single Card Start-->
                <div class="myCard">
                    <a class="coverHolder" href="">
                        <img class="cover"
                             src="~/assets/images/playlistCovers/raindrops.jpg"
                             alt="" />
                    </a>
                    <div class="bottomText">
                        <p class="songCount">111 Tracks</p>
                        <a class="titleHolder" href="">
                            <img src="~/assets/images/icons/play-list-5.svg" alt="" />
                            <h6 class="title">Playlist title</h6>
                        </a>

                        <a href="" class="authorHolder">
                            <p class="author">User</p>
                        </a>
                    </div>
                </div>
                <!--Single Card End-->
                <!--Single Card Start-->
                <div class="myCard">
                    <a class="coverHolder" href="">
                        <img class="cover"
                             src="~/assets/images/playlistCovers/raindrops.jpg"
                             alt="" />
                    </a>
                    <div class="bottomText">
                        <p class="songCount">111 Tracks</p>
                        <a class="titleHolder" href="">
                            <img src="~/assets/images/icons/play-list-5.svg" alt="" />
                            <h6 class="title">Playlist title</h6>
                        </a>

                        <a href="" class="authorHolder">
                            <p class="author">User</p>
                        </a>
                    </div>
                </div>
                <!--Single Card End-->
                <!--Single Card Start-->
                <div class="myCard">
                    <a class="coverHolder" href="">
                        <img class="cover"
                             src="~/assets/images/playlistCovers/raindrops.jpg"
                             alt="" />
                    </a>
                    <div class="bottomText">
                        <p class="songCount">111 Tracks</p>
                        <a class="titleHolder" href="">
                            <img src="~/assets/images/icons/play-list-5.svg" alt="" />
                            <h6 class="title">Playlist title</h6>
                        </a>

                        <a href="" class="authorHolder">
                            <p class="author">User</p>
                        </a>
                    </div>
                </div>
                <!--Single Card End-->
                <!--Single Card Start-->
                <div class="myCard">
                    <a class="coverHolder" href="">
                        <img class="cover"
                             src="~/assets/images/playlistCovers/raindrops.jpg"
                             alt="" />
                    </a>
                    <div class="bottomText">
                        <p class="songCount">111 Tracks</p>
                        <a class="titleHolder" href="">
                            <img src="~/assets/images/icons/play-list-5.svg" alt="" />
                            <h6 class="title">Playlist title</h6>
                        </a>

                        <a href="" class="authorHolder">
                            <p class="author">User</p>
                        </a>
                    </div>
                </div>
                <!--Single Card End-->
                <!--Single Card Start-->
                <div class="myCard">
                    <a class="coverHolder" href="">
                        <img class="cover"
                             src="~/assets/images/playlistCovers/raindrops.jpg"
                             alt="" />
                    </a>
                    <div class="bottomText">
                        <p class="songCount">111 Tracks</p>
                        <a class="titleHolder" href="">
                            <img src="~/assets/images/icons/play-list-5.svg" alt="" />
                            <h6 class="title">Playlist title</h6>
                        </a>

                        <a href="" class="authorHolder">
                            <p class="author">User</p>
                        </a>
                    </div>
                </div>
                <!--Single Card End-->
            </div>
        </div>
    </div>
</main>
<!--Main End-->
<!--Playlists Script-->
<script src="~/assets/javascript/playlists.js" asp-append-version="true"></script>

