@model IEnumerable<CartVM>
@{
    ViewData["Title"] = "Cart";
}

<main style="min-height: calc(80vh - 66px); align-items:flex-start;" id="cartMain">
    <div  class="box">
        <div class="topText">
            <h3>Cart</h3>
        </div>
        <div id="cartBody" class="content">
          
                @await Html.PartialAsync("_CartPartial",Model)
        
          
        </div>
    </div>
</main>
